[submodule "lib/imgui"]
	path = lib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "lib/librdr3"]
	path = lib/librdr3
	url = git@github.com:Sage-of-Mirrors/librdr3.git
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = git@github.com:zeux/pugixml.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = git@github.com:Neargye/magic_enum.git
